<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated multa -->
      <package
            uri="http://www.example.org/multa"
            class="br.gov.pi.tce.siscap.multa.MultaPackage"
            genModel="model/multa.genmodel"/>
   </extension>

</plugin>
