<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="br.gov.pi.siscap.multa.design.Activator"
               id="br.gov.pi.siscap.multa.design"
	       name="multa">
    </component>
  </extension>
</plugin>
